<%- include("partials/header"); -%>

  <h3>Q. <%=title%></h3>
  <p>Ans: <%=content%></p>
  <h5 class="credit">Answer given by <%= name %></h5>
  <form class="" action="/post" method="post">
    <button class="btn btn-primary" type="submit" name="button" value="<%= title %>">Improve</button>
  </form>


  <div class="you-tube-div">
  <h2>You can also refer <i class="far fa-star"></i></h2>
  <hr class="resource-rule">
  <div class="">
    <iframe class="you-tube" width="300" height="200" src="https://www.youtube.com/embed?v=IhJGJG-9Dx8&list=PLI1t_8YX-Apv-UiRlnZwqqrRT8D1RhriX&index=1"></iframe>
    <iframe class="you-tube" width="300" height="200" src="https://www.youtube.com/embed?v=7ArHz8jPglw&list=PLI1t_8YX-Apv-UiRlnZwqqrRT8D1RhriX&index=2"></iframe>
    <iframe class="you-tube" width="300" height="200" src="https://www.youtube.com/embed?v=wjI1WNcIntg&list=PLI1t_8YX-Apv-UiRlnZwqqrRT8D1RhriX&index=3"></iframe>
    <iframe class="you-tube" width="300" height="200" src="https://www.youtube.com/embed?v=MFOAbpfrJ8g&list=PLI1t_8YX-Apv-UiRlnZwqqrRT8D1RhriX&index=4"></iframe>
    <iframe class="you-tube" width="300" height="200" src="https://www.youtube.com/embed?v=njTh_OwMljA&list=PLI1t_8YX-Apv-UiRlnZwqqrRT8D1RhriX&index=5"></iframe>
    <iframe class="you-tube" width="300" height="200" src="https://www.youtube.com/embed?v=i_Q0v_Ct5lY&list=PLI1t_8YX-Apv-UiRlnZwqqrRT8D1RhriX&index=6"></iframe>
    <iframe class="you-tube" width="300" height="200" src="https://www.youtube.com/embed?v=shs0KM3wKv8&list=PLI1t_8YX-Apv-UiRlnZwqqrRT8D1RhriX&index=13"></iframe>
    <iframe class="you-tube" width="300" height="200" src="https://www.youtube.com/embed?v=shs0KM3wKv8&list=PLI1t_8YX-Apv-UiRlnZwqqrRT8D1RhriX&index=13"></iframe>
    <iframe class="you-tube" width="300" height="200" src="https://www.youtube.com/embed?v=3MwRGPPB4tw&list=PLI1t_8YX-Apv-UiRlnZwqqrRT8D1RhriX&index=12"></iframe>
  </div>
  </div>

<%- include("partials/footer"); -%>
